.page-content {
    padding-top: 20px;
}

.two-thirds {
    width: 66.666667%;
}

.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.one-third {
    width: 33.333333%;
}


.news .alert {
    position: relative;
    padding: 0 0 1em 45px;
    overflow: hidden;
    border-top: 1px solid #eff3f6;
}