
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}


/* ------------
    Header
--------------*/

.navigation {
	padding-top: 12px;
	padding-bottom: 12px;
	color: $github-header-white;
	background-color: $github-header-black;

  .navigation-search-wrapper {
    min-height: 30px;
    min-width: 300px;
    padding: 0px;
    font-size: inherit;
    color: white;
    background-color: rgba(255, 255, 255, 0.125);
    box-shadow: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
  } 

  .navigation-search {
    width: 300px;
    font-size: 13px;
    margin: 0px;
  }


  .navigation-search-input {
    min-height: 30px;
    font-size: inherit;
    color: inherit;

    display: table-cell;
    width: 99.999%;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    background: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
  }

  .navigation-logo-invertocat {
    float: left;
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
  }
  
  .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }

  .navigation-wrapper {
    display: block;
  }

  .navigation-link {
    display: block;
    padding-bottom: 3px;
    margin: 5px 8px 0;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255,255,255,0.75);
    margin: 5px 8px 0px;
  }

  .navigation-link:hover, .navigation-link:focus {
    color: #fff;
    text-decoration: none;
  }
  .user-nav {
    margin-right: -8px;
  }

  .user-img {
  	width: 20px;
  	height: 20px;
  	float:right;
  	top: -30px;
  	border-radius: 3px;
  }

}


/* ------------
     Common
--------------- */
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}


a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}


ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
