/* SCSS Variables */

/*--------------
  Font
  -------------- */
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Spoqa Han Sans', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$code-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Menlo, 'Ubuntu Mono', Monaco, 'Spoqa Han Sans', monospace;
$code-gist-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Menlo, 'Ubuntu Mono', Monaco, 'Spoqa Han Sans', monospace;
$base-font-size: 14px;


$github-header-black: #24292e;
$github-header-white: rgba(255,255,255,0.75);

